
{{ form_start(form) }}
 
<div class="title-group">
    <div>{{form_label(form.type_title)}}</div>
    <div>{{form_widget(form.type_title)}}</div>
</div>

<div class="description-group">
    <div>{{form_label(form.type_description)}}</div>
    <div>{{form_widget(form.type_description)}}</div>
</div>

<div class="image-group">
    <div>{{form_label(form.type_thumbnail)}}</div>
    <div>{{form_widget(form.type_thumbnail)}}</div>
    <td>  {{ type.typeThumbnail }}<img src="{{ asset('uploads/images/type/' ~ type.typeThumbnail) }}" width='125' height='80' ></td>
</div>

<div class="game-group">
    <div>{{form_label(form.games)}}</div>
    <div>{{form_widget(form.games)}}</div>        
</div>

<button class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
