{% extends 'base.html.twig' %}

{% block title %}Type index{% endblock %}

{% block body %}
<div class="container">
    <h1>Type index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Type_title</th>
                <th>Type_description</th>
                <th>Type_thumbnail</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in types %}
            <tr>
                <td>{{ type.id }}</td>
                <td>{{ type.typeTitle }}</td>
                <td>{{ type.typeDescription }}</td>
               <td>  <img src="{{ asset('uploads/images/type/' ~ type.typeThumbnail) }}" alt="{{ type.typeThumbnail }}" width='125' height='80' ></td>
                <td>
                    <a href="{{ path('type_show', {'id': type.id}) }}">show</a>
                    <a href="{{ path('type_edit', {'id': type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('type_new') }}">Create new</a>
</div>
{% endblock %}
