{% extends 'base.html.twig' %}

{% block title %}New Type{% endblock %}

{% block body %}
<div class="container">
    <h1>Create new Type</h1>

    {{ include('type/_form.html.twig') }}

    <a href="{{ path('type_index') }}">back to list</a>
</div>
{% endblock %}
