{% extends 'base.html.twig' %}

{% block title %}Type{% endblock %}

{% block body %}
<div class="container">
    <h1>Type</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ type.id }}</td>
            </tr>
            <tr>
                <th>Type_title</th>
                <td>{{ type.typeTitle }}</td>
            </tr>
            <tr>
                <th>Type_description</th>
                <td>{{ type.typeDescription }}</td>
            </tr>
            <tr>
                <th>Type_thumbnail</th>
                <td>{{ type.typeThumbnail }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('type_index') }}">back to list</a>

    <a href="{{ path('type_edit', {'id': type.id}) }}">edit</a>

    {{ include('type/_delete_form.html.twig') }}.
</div>
{% endblock %}
