{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper {
        margin: 1em auto;
        max-width: 800px;
        width: 95%;
        font: 18px/1.5 sans-serif;
    }

    .example-wrapper code {
        background: #F5F5F5;
        padding: 2px 6px;
    }
</style>

<div class="home_title">
    <p>Notre catalogue de jeux !</p>
</div>

<div class="games_card_container">
    {% for game in games %}
  
    <div class="game_card">
        <div class="game_thumbnail">
            <img src="{{ asset('uploads/images/game/' ~ game.gameThumbnail) }}" alt="{{ game.gameThumbnail }}"
                width='340' height='200'>
        </div>
        <div class="game_info">
            <h2>{{game.gameTitle}}</h2>
            <div><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i
                    class="fas fa-star"></i><i class="far fa-star"></i></div>
            <p>{{game.GameDescription|u.truncate(255, '...')}}</p>
        </div>



        <div class="game_btn">
            <a href="{{game.gameUrl}}">Jouer</a>
            <a href="{{ path('game_show', {'id': game.id}) }}">Détails & Avis</a>
        </div>
    </div>
    {% endfor %}
  
</div>

{% endblock %}