{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="register-form-container">
    <div class="register-form">
        <h1>S'inscrire</h1>
        {{ form_start(registrationForm) }}
        <label for="">Votre nom d'utilisateur : </label>
        </br>
        {{ form_widget(registrationForm.nickname, {'attr':{'class':'register-form-input'}}) }}
        </br>
        <label for="">Votre adresse email : </label>
        </br>
        {{ form_widget(registrationForm.email, {'attr':{'class':'register-form-input'}}) }}
        </br>
        <label for="">Votre mot de passe : </label>
        </br>
        {{ form_widget(registrationForm.plainPassword, {'attr':{'class':'register-form-input'}}) }}
        </br>
        <div class="form-cgd">
        <label for="">J'accepte les conditions général d'utilisation</label>
        {{ form_widget(registrationForm.agreeTerms, {'attr':{'class':'register-form-checkbox'}}) }}
        </br>
        </div>
        <button type="submit" class="register">S'inscrire</button>
        {{ form_end(registrationForm) }}
    </div>
</div>
{% endblock %}