{% extends 'base.html.twig' %}

{% block title %}Comment index{% endblock %}

{% block body %}
<div class="container">
    <h1>Comment index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Comment_content</th>
                <th>Comment_rate</th>
                <th>Comment_user</th>
                <th>Comment_createAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for comment in comments %}
        <tr>
            <td>{{ comment.id }}</td>
            <td>{{ comment.commentContent }}</td>
            <td>{{ comment.commentRate }}</td>
            <td>{{ comment.commentUser.nickname }}</td>
            <td>{{ comment.commentCreateAt ? comment.commentCreateAt|date('Y-m-d H:i:s') : '' }}</td>
            <td><a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a></td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">no records found</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<td></td>




    <a href="{{ path('comment_new') }}">Create new</a>
</div>
{% endblock %}