{% extends 'base.html.twig' %}

{% block title %}Comment{% endblock %}

{% block body %}
    <h1>Comment</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ comment.id }}</td>
            </tr>
            <tr>
                <th>Comment_content</th>
                <td>{{ comment.commentContent }}</td>
            </tr>
            <tr>
                <th>Comment_rate</th>
                <td>{{ comment.commentRate }}</td>
            </tr>
            <tr>
                <th>Comment_createAt</th>
                <td>{{ comment.commentCreateAt ? comment.commentCreateAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('comment_index') }}">back to list</a>

    <a href="{{ path('comment_edit', {'id': comment.id}) }}">edit</a>

    {{ include('comment/_delete_form.html.twig') }}
{% endblock %}
