*,
::after,
::before 
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "RacingSansOne";
    src: url(fonts/RacingSansOne-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(fonts/Poppins-Regular.ttf);
}

/*/////////////////////////////////////
////////////// TOP NAV ////////////////
/////////////////////////////////////*/

ul {
    margin-bottom: 0rem;
}

.top-nav-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(17, 59, 91);
    border-bottom: #FFCC1D 5px solid;
}

.top-nav-container li {
    list-style: none;
    font-size: 16px;
    margin: auto 30px;
}

.top-nav-container a {
    font-family:"Poppins";
    text-decoration: none;
    color: white;
}

.top-nav-admin {
    display: flex;
    width: 115%;
}

.top-nav-admin ul{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.top-nav-user {
    display: flex;
    width: 40%;
}

.top-nav-user a {
    display: flex;
    font-family: "RacingSansOne";
    background-color: #FFCC1D;
    color: #113B5B;
    padding: 20px;
    border-radius: 10px;
    transition: transform 0.2s ease-in-out;
}

.top-nav-user a:hover {
    background-color: #FFCC1D;
    transform: scale(1.2);
}

.top-nav-user ul{
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.welcome_msg {
    color: white;
}

/*/////////////////////////////////////
///////// REGISTRATION FORM ///////////
/////////////////////////////////////*/

.register-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.register-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 600px;
    background-color: rgb(17, 59, 91);
}

.register-form h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    margin-bottom: 25px;
}

.register-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.register-form label {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}

.form-cgd {
    margin-bottom: 15px;
}

.register {
    border: none;
    height: 50px;
    width: 100px;
    border-radius: 20px;
    color: #113B5B;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.register:hover {
    background-color: #FFCC1D;
    transform: scale(1.2);
}

.register-form-input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
}

/*/////////////////////////////////////
/////////// GAME CARD HOME ////////////
/////////////////////////////////////*/

.home_title {
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    font-size: 25px;
    font-weight: 800;
    padding: 50px;
}

.games_card_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    grid-gap: 10px;
    width: 100%;
}

.game_card {
    position: relative;
    background-color: #113B5B;
    border-radius: 10px;
    width: 350px;
    height: 600px;
    margin: 10px;
    border: #FFCC1D 5px solid;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
}

.game_thumbnail img{
    width: 340px;
    /* border-bottom: #FFCC1D 5px solid; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.game_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Poppins";
    width: 100%;
    color: rgb(255, 255, 255);
}

.game_infos {
    text-align: justify;
}

.game_infos h2 {
    padding: 5px;
}

.game_infos div {
    padding: 5px;
}

.game_info p {
    text-align: justify;
    padding: 5px 15px 15px 15px;
}

.game_btn {
    display: flex;
    justify-content: space-around;
    margin-bottom: 15px;
    position: absolute;
    width: 100%;
    bottom: 0;
}

.game_btn a{
    font-size: 19px;
    text-decoration: none;
    color: #113B5B;
    padding: 10px;
    text-align: center;
    border: none;
    height: 49px;
    width: 138px;
    border-radius: 10px;
    background-color: #FFCC1D;
    font-family:"RacingSansOne";
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.game_btn a:hover {
    transform: scale(1.1);
}

/*/////////////////////////////////////
//////////// GAME DETAILS /////////////
/////////////////////////////////////*/

.game_info_container {
    display: flex;
    width: 100%;
}

.thumb_play {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 55px 0 55px 150px;
}

.thumb_play img {
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 30%);
    border-radius: 15px;
    width: 100%;
}

.game_infos {
    font-family: "Poppins";
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 60%;
    padding: 55px 150px 55px 55px;
}

#btn_play {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 55px;
    width: 100px;
    border-radius: 10px;
    background-color: #FFCC1D;
    font-family:"RacingSansOne";
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

#btn_play {
    text-decoration: none;
    color: #113B5B;
}

#btn_play:hover {
    transform: scale(1.2);
}

/*/////////////////////////////////////
/////////// COMMENT SECTION ///////////
/////////////////////////////////////*/

.comment_form_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.comment_section {
    width: 60%;
    padding: 50px 0 50px 50px;
}

.comm_nickname {
    font-weight: bold;
}

.send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    height: 55px;
    width: 100px;
    border-radius: 10px;
    background-color: #FFCC1D;
    font-family:"RacingSansOne";
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    margin-top: 20px;
    color: #113B5B;
}

.send-btn:hover {
        transform: scale(1.2);
}

/*/////////////////////////////////////
////////////// RESPONSIVE /////////////
/////////////////////////////////////*/

@media screen and (max-width: 768px) {
    .games_card_container {
        grid-template-columns: repeat(2, 1fr);
    }
    .top-nav-user a {
        display: flex;
        justify-content: center;
        font-family: "RacingSansOne";
        background-color: #FFCC1D;
        color: #113B5B;
        padding: 20px;
        height: 64px;
        width: 140px;
        border-radius: 10px;
    }
    .game_info_container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .thumb_play {
        width: 100%;
        display: flex;
        align-items: center;
        padding: 55px 55px 55px 55px;
    }
    .game_infos {
        font-family: "Poppins";
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 100%;
        padding: 0 55px 55px 55px;
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .games_card_container {
        grid-template-columns: repeat(1, 1fr);
    }
    .top-nav-container li {
        list-style: none;
        font-size: 16px;
        margin: auto 10px;
    }
    .top-nav-user a {
        display: flex;
        justify-content: center;
        font-family: "RacingSansOne";
        background-color: #FFCC1D;
        color: #113B5B;
        padding: 20px;
        height: 64px;
        width: 140px;
        border-radius: 10px;
    }
    ul {
        padding-left: 1rem;
    }
    
}
