{{ form_start(form) }}
 
    <div class="title-group">
        <div>{{form_label(form.game_title)}}</div>
        <div>{{form_widget(form.game_title)}}</div>
    </div>
 
    <div class="description-group">
        <div>{{form_label(form.game_description)}}</div>
        <div>{{form_widget(form.game_description)}}</div>
    </div>

    <div class="url-group">
        <div>{{form_label(form.game_url)}}</div>
        <div>{{form_widget(form.game_url)}}</div>
    </div>
 
    <div class="image-group">
        <div>{{form_label(form.game_thumbnail)}}</div>
        <div>{{form_widget(form.game_thumbnail)}}</div>
        <img src="{{ asset('uploads/images/game/' ~ game.gameThumbnail) }}" alt="{{ game.gameThumbnail }}" width='125' height='80' >
    </div>
    
    <div class="type-group">
        <div>{{form_label(form.game_type)}}<br/></div>
        <div>{{form_widget(form.game_type)}}</div>
    </div>
 
 
    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
