{% extends 'base.html.twig' %}

{% block title %}Game index{% endblock %}

{% block body %}
<div class="container">
    <h1>Game index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Game_title</th>
                <th>Game_url</th>
                <th>Game_description</th>
                <th>Game_thumbnail</th>
                <th>CreateAt</th>
                <th>Game_rating</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for game in games %}
            <tr>
                <td>{{ game.id }}</td>
                <td>{{ game.gameTitle }}</td>
                <td>{{ game.gameUrl }}</td>
                <td>{{ game.gameDescription }}</td>
                <td><img src="{{ asset('uploads/images/game/' ~ game.gameThumbnail) }}" alt="{{ game.gameThumbnail }}" width='125' height='80' ></td>
                <td>{{ game.createAt ? game.createAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ game.gameRating }}</td>
                <td>
                    <a href="{{ path('game_show', {'id': game.id}) }}">show</a>
                    <a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('game_new') }}">Create new</a>
</div>
{% endblock %}
