{% extends 'base.html.twig' %}

{% block title %}Game
{% endblock %}

{% block body %}
{% if is_granted('ROLE_ADMIN') %}
<div class="container">
    <h1>Game</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ game.id }}</td>
            </tr>
            <tr>
                <th>Game_title</th>
                <td>{{ game.gameTitle }}</td>
            </tr>
            <tr>
                <th>Game_url</th>
                <td><a href="{{ game.gameUrl }}" target="_blank">{{ game.gameUrl }}</a></td>
            </tr>
            <tr>
                <th>Game_description</th>
                <td>{{ game.gameDescription }}</td>
            </tr>
            <tr>
                <th>Game</th>
                <td><img src="{{ asset('uploads/images/game/' ~ game.gameThumbnail) }}" alt="{{ game.gameThumbnail }}"
                        width='125' height='80'></td>
            </tr>
            <tr>
                <th>CreateAt</th>
                <td>{{ game.createAt ? game.createAt|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Game_rating</th>
                <td>{{ game.gameRating }}</td>
            </tr>
        </tbody>
    </table>
    {% for type in game.gameType %}
    <p>{{type.typeTitle}}</p>
    {% endfor %}

    <h2> {{ game.gameType | length }} genres </h2>
    {% for type in game.gameType %}
    <p><strong>Genre</strong> : {{type.typeTitle}}</p>
    {% endfor %}

		<h2>
			{{ game.gameType | length }}
			genres
		</h2>
		{% for type in game.gameType %}
			<p>
				<strong>Genre</strong>
				:
				{{type.typeTitle}}</p>
		{% endfor %}


    <section id="commentaires">
        <h2> {{ game.comments | length }} commentaires </h2>
        {% for comment in game.comments %}
        <pre>
        {{comment.commentContent | raw}}
        {{comment.commentRate}}
        {{comment.commentCreateAt | date("d/m/Y")}}
        {{comment.commentUser.nickname}}
        </pre>
        {% endfor %}

    </section>

    <section id="formComment">
        {{form_start(commentForm)}}
        {{form_row(commentForm.comment_content, {'attr' : {'placeholder' : " votre avis"}})}}
        {{form_row(commentForm.comment_rate, {'attr' : {'placeholder' : " votre note"}})}}



        <button type="submit"> Avis ! </button>
        {{ form_end(commentForm)}}
    </section>


		<a href="{{ path('game_index') }}">back to list</a>

		<a href="{{ path('game_edit', {'id': game.id}) }}">edit</a>

    {{ include('game/_delete_form.html.twig') }}
</div>
{% else %}
<div class="game_info_container">
    <div class="thumb_play">
        <div id="ex1">
            <img id="ex1-layer" src="{{ asset('uploads/images/game/' ~ game.gameThumbnail) }}"
                alt="{{ game.gameThumbnail }}">
        </div>
    </div>
    <div class="game_infos">
            <h2>{{ game.gameTitle }}</h2>
            <div>{{ game.gameRating }}</div>
            <p>{{ game.gameDescription }}</p>
        <div>
            <a id="btn_play" href="{{ game.gameUrl }}" target="_blank">Jouer</a>
        </div>
    </div>
</div>
<section class="comment_form_container" id="commentaires">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <div class="container">
        <section id="formComment">
            {{form_start(commentForm)}}
            {{form_row(commentForm.comment_content, {'label' : 'Laisser un commentaire :', 'attr' : {'placeholder' : "Votre commentaire..."}})}}
            {{form_row(commentForm.comment_rate, {'label' : 'Laisser une note :', 'attr' : {'placeholder' : "Votre note..."}})}}
            <button class="send-btn" type="submit">Envoyer !</button>
            {{ form_end(commentForm)}}
        </section>
    </div>
    {% else %}
    <p>Vous devez être <a href="{{ path('app_login') }}">connecté</a> pour laisser un commentaire !</p>
    {% endif %}
    <div class="comment_section">
        <h2> {{ game.comments | length }} Commentaires </h2>
        {% for comment in game.comments %}
        <span class="comm_nickname">{{comment.commentUser.nickname}}</span> le {{comment.commentCreateAt | date("d/m/Y")}} :
        <p>"{{comment.commentContent | raw}}"</p>
        <p>a noté le jeu {{ comment.commentRate }} / 5</p>
        {% endfor %}
    </div>
</section>
{% endif %}
{% endblock %}
