<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Welcome!{% endblock %}</title>
  {# Run `composer require symfony/webpack-encore-bundle`
  and uncomment the following Encore helpers to start using Symfony UX #}
  {% block stylesheets %}
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"/>
  <link rel="stylesheet" href="{{ asset('style.css') }}">
  {#{{ encore_entry_link_tags('app') }}#}
  {% endblock %}

  {% block javascripts %}
  {#{{ encore_entry_script_tags('app') }}#}
  {% endblock %}
</head>

<body>
  <div class="top-nav-container">
    <div class="top-nav-admin">
      <ul>
        <li><a href="{{ path('home') }}">Accueil</a></li>
        
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('comment_index') }}">Gestion des Avis</a></li>
        <li><a href="{{ path('game_index') }}">Gestion du catalogue jeux</a></li>
        <li><a href="{{ path('type_index') }}">Gestion des genres de jeux</a></li>
        <li><a href="{{ path('user_index') }}">Gestion des utilisateurs</a></li>
        <li><a href="{{ path('comment_index') }}">Gestion des commentaires</a></li>
        {% endif %}
      </ul>
    </div>
    <div class="top-nav-user">
      <ul>

        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <li class="welcome_msg">Bonjour {{app.user.nickname}}</li>
        <li><a href="{{ path('app_logout') }}">Se Déconnecter</a></li>
        {% else %}
        <li><a href="{{ path('app_register') }}">S'inscrire</a></li>
        <li><a href="{{ path('app_login') }}">Se Connecter</a></li>
        {% endif %}
      </ul>
    </div>
  </div>

    {% block body %}{% endblock %}
    <script src="{{ asset('script.js') }}"></script>
</body>

</html>